# TeX/LaTeX intermediates # 
########################### 
*.*~ 
*.aux 
*.log 
*.tmp 
*.xref 
*.pdx 
*.pnd 
*.bbl 
*.bcf 
*.auto 
*.blg 
*.dvi 
*.glo 
*.out 
*.idx 
*.ilg 
*.ind 
*.idv 
*.4ct 
*.4tc 
*.lg 
*.xmpi 
*.tcp 
*.toc 
*.tps 
*blx.bib 
*.run.xml
*.log

# Ausgaben ignorieren #
####################### 
*.pdf

# Zusätzliche intermediates #
############################# 
*.toc
*.aux
*.bbl
*.blg
